%footer
  .nav.navbar-expand-lg.navbal-light.bg-light
    %button.navbar-toggler{ type: :button, data: { toggle: :collapse, target: '#navbar' } }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar
      .navbar-nav.mx-auto
        %a.nav-item.nav-link{ href: '#'} ABOUT US
        %a.nav-item.nav-link{ href: '#'} SUPPORT
        %a.nav-item.nav-link{ href: '#'} BLOG
        %a.nav-item.nav-link{ href: '#'} PRESS
        %a.nav-item.nav-link{ href: '#'} API
        %a.nav-item.nav-link{ href: '#'} JOB
        %a.nav-item.nav-link{ href: '#'} PRIVACY
        %a.nav-item.nav-link{ href: '#'} TERMS
        %a.nav-item.nav-link{ href: '#'} DIRECTORY
        %a.nav-item.nav-link{ href: '#'} LANGUAGE
